[submodule "pmgr-app"]
	path = pmgr-app
	url = https://github.com/kurlytail/pmgr-app
[submodule "spring-deps"]
	path = spring-deps
	url = https://github.com/kurlytail/spring-deps
[submodule "user-registration"]
	path = user-registration
	url = https://github.com/kurlytail/user-registration
[submodule "user-authentication"]
	path = user-authentication
	url = https://github.com/kurlytail/user-authentication
[submodule "jenkins"]
	path = jenkins
	url = https://github.com/kurlytail/jenkins-lib
